<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    @Styles.Render("~/css")

</head>
<body>
    @Scripts.Render("~/bundles/scripts")
    @RenderBody()
    
    @Scripts.Render("~/bundles/scriptsPropios")
</body>
</html>
