<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/img/favicon.ico")" />
    @Styles.Render("~/css")
    @RenderSection("HeadSection", false)
</head>
<body>
    @RenderSection("Navbar")
    <div class="container-fluid body-content">
        <div class="row full-height">
            <div id="contenedorAlertas" class="div-contenedor-alertas"></div>
            @RenderBody()
        </div>
        @Html.Partial("Footer")
    </div>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("custom_js_libraries", required: false)
    @Scripts.Render("~/bundles/scriptsPropios")
    @RenderSection("custom_js_code", required: false)
</body>
</html>
