@using BackendTp.Helpers

@{
    if (Sesion.IdUsuario == 0)
    {
        Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <hr />
    <h2>@ViewBag.Title</h2>
    <hr />

    <div>
        @ViewBag.Description
    </div>
    <p>
        @if (Sesion.IdUsuario == 0)
        {
            @Html.ActionLink("Vuelve al Inicio", "Index", "Home")
        }
        else
        {
            @Html.ActionLink("Vuelve a Tus Pedidos", "Lista", "Pedido")
        }
    </p>
</body>
</html>