
@{
    Layout = null;
}


@{
    ViewBag.Title = "Index";
}
@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/Site.css");
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script>
        var pathRegistro = '@Url.Action("Registro")';
        var pathLogin = '@Url.Action("Login")';
    </script>
</head>
<body>
    <div id="contenedorAlertas" class="div-contenedor-alertas"></div>
    <nav class="navbar navbar-expand-lg navbar-light menu">
        <a class="navbar-brand" href="#">ArmaTuPedido</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#registro">Registrate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid body-content p-0">
        <div>
            @*<img class="portada" src="~/img/portada.jpg" />*@
            <div id="portada"></div>
            <div class="lista-portada d-flex flex-column justify-content-start align-items-start">
                <div class="d-flex justify-content-between align-items-center py-2">
                    <i class="fas fa-check-square"></i>
                    <span>Inicia tu pedido</span>
                </div>
                <div class="d-flex justify-content-between align-items-center py-2">
                    <i class="fas fa-check-square"></i>
                    <span>Selecciona tus gustos</span>
                </div>
                <div class="d-flex justify-content-between align-items-center py-2">
                    <i class="fas fa-check-square"></i>
                    <span>Invita a tus amigos para que completen el pedido</span>
                </div>
                <div class="d-flex justify-content-between align-items-center py-2">
                    <i class="fas fa-check-square"></i>
                    <span>Y ya estas listo para llamar!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <footer>
                <p>&copy; @DateTime.Now.Year - ArmaTuPedido</p>
            </footer>
        </div>
    </div>

    @*modals*@
<div class="modal" id="registro">
    <div class="modal-dialog">
        <div class="modal-content custom-modal-content">
            <!-- Modal Header -->
            <div class="d-flex modal-header border-bottom-0">
                <h4 class="modal-title">Registro</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="pt-2" style="word-break: break-word;">
                    <div class="form-group col">
                        <label for="textEmail">Email</label>
                        <input class="form-control col-12" id="textEmail" type="email" name="email" value="" placeholder="Ingrese su email" />
                    </div>
                    <div class="form-group col">
                        <label for="textPassword">Contraseña</label>
                        <input class="form-control col-12" id="textPassword" type="password" name="password" value="" placeholder="Ingrese una contraseña" />
                    </div>
                    <div class="form-group col">
                        <label for="textRepetirPassword">Repetir contraseña</label>
                        <input class="form-control col-12" id="textRepetirPassword" type="password" name="password" value="" placeholder="Repita la contraseña" />
                    </div>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-cancelar" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-aceptar" id="btnAceptar">Aceptar</button>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="login">
    <div class="modal-dialog">
        <div class="modal-content custom-modal-content">
            <!-- Modal Header -->
            <div class="d-flex modal-header border-bottom-0">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="pt-2" style="word-break: break-word;">
                    <div class="form-group col">
                        <label for="loginEmail">Email</label>
                        <input class="form-control col-12" id="loginEmail" type="email" name="email" value="" placeholder="Ingrese su email" />
                    </div>
                    <div class="form-group col">
                        <label for="loginPassword">Contraseña</label>
                        <input class="form-control col-12" id="loginPassword" type="password" name="password" value="" placeholder="Ingrese contraseña" />
                    </div>
                    
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-cancelar" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-aceptar" id="btnAceptarLogin">Aceptar</button>
            </div>

        </div>
    </div>
</div>

    
    @Scripts.Render("~/Scripts/jquery-3.0.0.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/utilidades/utilidades.js")
    @Scripts.Render("~/Scripts/vistas/home.js")
    
</body>
</html>

