@model BackendTp.Models.GustosPedidoUsuarioViewModel
@using BackendTp.Models
@using BackendTp.Helpers
@{
    ViewBag.Title = "ElegirGustos";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<h2>ElegirGustos</h2>

Negocio: @Model.Pedido.NombreNegocio<br />
Descripcion: @Model.Pedido.Descripcion<br />
PrecioUnidad: @Model.Pedido.PrecioUnidad<br />
PrecioDocena: @Model.Pedido.PrecioDocena<br />


    @using (Html.BeginForm(FormMethod.Post))
    {

        @Html.TextBox("idUsuario", Sesion.IdUsuario)
        @Html.TextBox("tokenUsuario", Model.InvitacionPedido.Token)
        @Html.TextBox("idPedido", Model.Pedido.IdPedido)

        <div id="listaGustos">
            @foreach (GustosEmpanadasViewModel g in Model.GustosDisponibles)
            {
                <div>
                    @foreach (InvitacionPedidoGustoEmpanadaUsuario gu in Model.GustosElegidosUsuario)
                    {
                        if (gu.IdGustoEmpanada == g.Id)
                        {
                            <label for="@g.Id">@g.Nombre</label>
                            <input id="@g.Id" value="@gu.Cantidad" class="gustosUsuario" />
                        }
                    }

                    @*@if (g.IsSelected == false)
                    {
                        <label for="@g.Id">@g.Nombre</label>
                            <input id="@g.Id" value="" class="gustosUsuario" />
                    }*@
                    @*@if ()
                        {
                            <label for="@g.Id">@g.Nombre</label>
                            <input id="@g.Id" value="0" class="gustosUsuario" />
                        }*@
                </div>
            }
        </div>
        <button id="testbtn" type="button" class="btn btn-primary">Submit</button>
    }
