@model BackendTp.Models.GustosPedidoUsuarioViewModel
@using BackendTp.Models
@using BackendTp.Helpers
@{
    ViewBag.Title = "ElegirGustos";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<div class="col-lg-12">
    <div class="row wrapper title box-shadow page-heading bg-white">
        <div class="col-12">
            <h2>Elegir Gustos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="recuadro box-shadow bg-white">
                <div>
                    <label class="font-weight-bold">Negocio:</label> @Model.Pedido.NombreNegocio<br />
                    <label class="font-weight-bold">Descripcion:</label> @Model.Pedido.Descripcion<br />
                    <label class="font-weight-bold">Unidad:</label> $@Model.Pedido.PrecioUnidad<br />
                    <label class="font-weight-bold">Docena:</label> $@Model.Pedido.PrecioDocena<br />
                </div>

                @using (Html.BeginForm(FormMethod.Post))
                {
            
                    @Html.Hidden("idUsuario", Sesion.IdUsuario)
                    @Html.Hidden("tokenUsuario", Model.InvitacionPedido.Token)
                    @Html.Hidden("idPedido", Model.Pedido.IdPedido)
            
                    <div id="listaGustos">
                        @foreach (GustosEmpanadasViewModel g in Model.GustosDisponibles)
                        {
                            <div>
                                @foreach (InvitacionPedidoGustoEmpanadaUsuario gu in Model.GustosElegidosUsuario)
                                {
                                    if (gu.IdGustoEmpanada == g.Id)
                                    {
                                        <label for="@g.Id">@g.Nombre</label>
                                        <input id="@g.Id" value="@gu.Cantidad" class="gustosUsuario" />
                                    }
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-12 text-right mt-3">
            <input type="reset" value="Cancelar" id="btnCancelar" class="btn btn-cancelar mr-1" />
            <button id="testbtn" type="button" class="btn btn-primary">Aceptar</button>
        </div>
    </div>
</div>
