@model BackendTp.Models.PedidoGustosEmpanadasViewModel
@using BackendTp.Models
@{
    ViewBag.Title = "ElegirGustos";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<h2>ElegirGustos</h2>

Negocio: @Model.Pedido.NombreNegocio<br />
Descripcion: @Model.Pedido.Descripcion<br />
PrecioUnidad: @Model.Pedido.PrecioUnidad<br />
PrecioDocena: @Model.Pedido.PrecioDocena<br />

@*@foreach (GustosEmpanadasViewModel g in Model.GustosDisponibles)
    {
        <input type="text" value="@g.Nombre" />
    }*@

@if (ViewBag.elegirPrimero)
{

    using (Html.BeginForm(FormMethod.Post))
    {
        @Html.TextBox("numTest")
        @Html.TextBox("palTest")

        @*<div id="gustosTest">
                        @foreach (GustosEmpanadasViewModel g in Model.GustosDisponibles)
                        {
                            <label for="listTest">@g.Id</label>
                            <input id="listTest"/>
                        }
                    </div>
                    <button id="testbtn" type="button" class="btn btn-primary">Submit</button>
                }
            }
            <br />

                    <div id="gustosTest">
                        @foreach (InvitacionPedidoGustoEmpanadaUsuario g in Model.GustosElegidosUsuario)
                        {
                            <label >@g.IdGustoEmpanada</label>

                        }
                    </div>*@

        <div id="gustosTest">
            @foreach (GustosEmpanadasViewModel g in Model.GustosDisponibles)
            {
                <div>
                    @foreach (InvitacionPedidoGustoEmpanadaUsuario gu in Model.GustosElegidosUsuario)
                    {
                        if (gu.IdGustoEmpanada == g.Id)
                        {
                            <label for="listTest">@g.Nombre</label>
                            <input id="listTest" value="@gu.Cantidad" />
                        }
                    }

                    @if (g.Id == 3)
                    {
                        <label for="listTest">@g.Nombre</label>
                        <input id="listTest" value="0" />
                    }

                </div>
            }
        </div>
    }
}
@*@for (int i = 0; i < Model.GustosDisponibles.Count; i++)
    {

        Model.Pedido.GustoEmpanada[i].Nombre;
    }*@