@model BackendTp.Models.GustosPedidoUsuarioViewModel
@using BackendTp.Models
@using BackendTp.Helpers
@{
    ViewBag.Title = "ElegirGustos";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<div id="contenedorAlertas" class="div-contenedor-alertas"></div>
<div>
    <h2>ElegirGustos</h2>
</div>

<div>

    Negocio: @Model.Pedido.NombreNegocio<br />
    Descripcion: @Model.Pedido.Descripcion<br />
    PrecioUnidad: @Model.Pedido.PrecioUnidad<br />
    PrecioDocena: @Model.Pedido.PrecioDocena<br />

</div>

    @using (Html.BeginForm(FormMethod.Post))
    {

        @Html.Hidden("idUsuario", Sesion.IdUsuario)
        @Html.Hidden("tokenUsuario", Model.InvitacionPedido.Token)
        @Html.Hidden("idPedido", Model.Pedido.IdPedido)

        <div id="listaGustos">
            @foreach (GustosEmpanadasViewModel g in Model.GustosDisponibles)
            {
                <div>
                    @foreach (InvitacionPedidoGustoEmpanadaUsuario gu in Model.GustosElegidosUsuario)
                    {
                        if (gu.IdGustoEmpanada == g.Id)
                        {
                            <label for="@g.Id">@g.Nombre</label>
                            <input id="@g.Id" value="@gu.Cantidad" class="gustosUsuario" />
                        }
                    }
                </div>
            }
        </div>
        <button id="testbtn" type="button" class="btn btn-primary">Submit</button>
    }
