@using BackendTp.Models
@model BackendTp.Models.PedidoGustosEmpanadasViewModel

@{
    ViewBag.Title = "Iniciar";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";

}
@section PaginaHeader{
    <link href="~/lib/bootstrap-tagsinput/tagsinput.css" rel="stylesheet" />
    <link href="~/Content/pedidoIniciar.css" rel="stylesheet" />
    <script>
        var usuarioController = "@Url.Action("Consultar","Usuario")";
    </script>
    <script src="@Url.Content("~/lib/bootstrap-tagsinput/typeahead.bundle.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap-tagsinput/tagsinput.js")"></script>
    <script src="@Url.Content("~/Scripts/vistas/pedidos/pedidos.js")"></script>
}

<div class="row m-5">
    <h2>Iniciar Pedido</h2>
</div>

@using (Html.BeginForm("Crear", "Pedido"))
{
    @Html.AntiForgeryToken()

    @Html.Partial("_pedidoFormulario")

    <div class="d-flex justify-content-end w-75 m-5">
        <input type="reset" value="Cancelar" id="btnCancelar" class="btn btn-cancelar mr-3" />
            <input type="submit" value="Iniciar" id="btnIniciar" class="btn btn-aceptar" />
            <script src="@Url.Content("~/Scripts/vistas/pedidos/pedidosIniciar.js")"></script>
        
    </div>
}
