@using BackendTp.Models
@model BackendTp.Models.PedidoGustosEmpanadasViewModel

@{
    ViewBag.Title = "Iniciar";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";

}
@section PaginaHeader{

    <link href="~/Content/pedidoIniciar.css" rel="stylesheet" />
}

<div class="row m-5">
    <h2>Iniciar Pedido</h2>
</div>

@using (Html.BeginForm("Crear", "Pedido"))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-4 d-flex flex-column align-items-center">
            <h4 class="pasos">1. Complete los datos del Pedido</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*@Html.EditorFor(model => model.Pedido.IdPedido, new { htmlAttributes = new { @class = "form-control" } })*@

            <div class="form-group w-100">
                @Html.LabelFor(model => model.Pedido.NombreNegocio, htmlAttributes: new { @class = "control-label col" }, labelText: "Nombre del Negocio")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pedido.NombreNegocio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pedido.NombreNegocio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group w-100">
                @Html.LabelFor(model => model.Pedido.Descripcion, htmlAttributes: new { @class = "control-label col" }, labelText: "Descripción del Pedido")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pedido.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pedido.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group w-100">
                @Html.LabelFor(model => model.Pedido.PrecioUnidad, htmlAttributes: new { @class = "control-label col" }, labelText: "Precio por Unidad")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pedido.PrecioUnidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pedido.PrecioUnidad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group w-100">
                @Html.LabelFor(model => model.Pedido.PrecioDocena, htmlAttributes: new { @class = "control-label col" }, labelText: "Precio por Docena")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pedido.PrecioDocena, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pedido.PrecioDocena, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-4 d-flex flex-column">
            <h4 class="pasos">2. Seleccione los gustos que podrán elegirse</h4>
            <hr />
            <span id="textValidacionGustos" class="field-validation-error text-danger text-center d-none"></span>
            <table class="table m-0 w-100">
                <tr>
                    <th>
                        Gusto
                    </th>
                    <th class="th-check-column text-default-grid vertical-middle centrar">
                        <div class="check-column">
                            <input type="checkbox" id="selectAll">
                            <label for="selectAll"></label>
                        </div>
                    </th>
                </tr>

                @for (int i = 0; i < Model.GustosDisponibles.Count; i++)
                {
                    <tr>
                        <td>
                            <p> @Model.GustosDisponibles[i].Nombre </p>
                        </td>
                        <td class="th-check-column text-default-grid vertical-middle centrar">
                            <div class="check-column">
                                @Html.HiddenFor(p => p.GustosDisponibles[i].Id)
                                @Html.HiddenFor(p => p.GustosDisponibles[i].Nombre)
                                @Html.CheckBoxFor(p => p.GustosDisponibles[i].IsSelected)
                                @Html.LabelFor(p => p.GustosDisponibles[i].IsSelected, " ")

                            </div>
                        </td>
                    </tr>

                }
            </table>

        </div>
        <div id="divInvitado" class="col-4 d-flex flex-column">
            <h4 class="pasos">3. Ingrese email de los invitados</h4>
            <hr />
            <a id="btnDuplicar" class="btn btn-aceptar">Agregar invitados</a>

            @if (!ViewBag.iniciar)
            {
                for (int i = 0; i < Model.Invitados.Count; i++)
                {
                    <div id="inputInvitado" class="form-group w-100">
                        @Html.EditorFor(invitado => invitado.Invitados[i].Email, new { @class = "form-control" })
                    </div>
                }

            }

            else
            {
                <div id="inputInvitado" class="form-group w-100 m-2" hidden>
                    <input id ="Invitados_0__Email" class="form-control" name="Invitados[0].Email" type="text" value="" placeholder="ejempl@email.com" />
                </div>
                @*<div id="inputInvitado" class="form-group w-100">
                    @Html.EditorFor(invitado => invitado.Invitados, new { @class = "form-control" })
                </div>*@
            }
        </div>
        <div class="d-flex justify-content-end w-75 m-5">
            <input type="reset" value="Cancelar" id="btnCancelar" class="btn btn-cancelar mr-3" />
            @if (ViewBag.iniciar)
            {
                <input type="submit" value="Iniciar" id="btnIniciar" class="btn btn-aceptar" />
            }
            else
            {
                <input type="submit" value="Editar" id="btnEditar" class="btn btn-aceptar" />
            }
        </div>
    </div>
}

<script src="@Url.Content("~/Scripts/vistas/pedidosIniciar.js")"></script>