@using BackendTp.Helpers
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<BackendTp.Models.Pedido>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";

}

@section PaginaHeader{

    <link href="~/Content/listapedido.css" rel="stylesheet" />
}



<h2>Tus Pedidos</h2>

<p>
    @Html.ActionLink("Nuevo", "Nuevo")
</p>

@if (Model == null || !Model.Any())
{
    <p>No hay registros de pedidos.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fecha de Inicio
                </th>
                <th>
                    Nombre del negocio
                </th>
                <th>
                    Estado del Pedido
                </th>
                <th>
                    Rol
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreNegocio)
                    </td>
                    <td>
                        <p>@item.EstadoPedido.Nombre</p>
                    </td>
                    <td>
                        @if (item.IdUsuarioResponsable == Sesion.IdUsuario)
                        {
                            <p>Responsable</p>
                        }
                        else
                        {
                            <p>Invitado</p>
                        }
                    </td>
                    <td>

                        @if (item.EstadoPedido.Nombre == "Abierto")
                        {
                            @Html.ActionLink("Elegir Gustos", "ElegirGustos", new { id = item.IdPedido, usuarioId = Sesion.IdUsuario })<br />
                            if (item.IdUsuarioResponsable == Sesion.IdUsuario)
                            {
                                @Html.ActionLink("Editar", "Editar", new { id = item.IdPedido }) <br />
                                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdPedido })<br />
                            }
                            else
                            {
                                @Html.ActionLink("Ver Detalles", "Detalle", new { id = item.IdPedido }) <br />
                            }
                        }else
                        {
                            @Html.ActionLink("Ver Detalles", "Detalle", new { id = item.IdPedido })
                        }

                    </td>
                </tr>
            }
            </tbody>
        </table>

    @Html.PagedListPager(Model, pag => Url.Action("Lista", "Pedido", new { pag }))

}
