@model IEnumerable<BackendTp.Models.Pedido>
@using BackendTp.Helpers
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}
@section PaginaHeader{

    <link href="~/Content/listapedido.css" rel="stylesheet" />
}
<h2>Lista</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuarioResponsable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreNegocio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEstadoPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioDocena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th>
            Boton
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreNegocio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioDocena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                @Html.ActionLink("ElegirGusto", "ElegirGustos",  new { Id = item.IdPedido, UsuarioId = Sesion.IdUsuario })
            </td>
        </tr>
    }

</table>
