@using BackendTp.Helpers
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<BackendTp.Models.Pedido>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

@section PaginaHeader{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/datatables/datatables.min.css")"/>
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" />
}

<div class="col-lg-12">
    <div class="row wrapper title box-shadow page-heading bg-white">
        <div class="col-10">
            <h2>Pedidos</h2>
        </div>
        <div class="col-2 action_buttons">
            @Html.ActionLink("Iniciar Pedido", "Iniciar",null, new { @class = "btn btn-primary"})
        </div>
    </div>
    @if (Model == null || !Model.Any())
    {
        <p>No hay registros de pedidos.</p>
    }
    else
    {
        <div class="bg-white box-shadow recuadro">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Fecha de Inicio</th>
                        <th>Nombre del negocio</th>
                        <th>Estado del Pedido</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCreacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreNegocio)
                            </td>
                            <td>
                                @item.EstadoPedido.Nombre
                            </td>
                            <td>
                                @if (item.IdUsuarioResponsable == Sesion.IdUsuario)
                                {
                                    <text>Responsable</text>
                                }
                                else
                                {
                                    <text>Invitado</text>
                                }
                            </td>
                            <td>
                                <div class="d-flex flex-row">
                                    @if (item.EstadoPedido.Nombre == "Abierto")
                                    {
                                        <a href="@Url.Action("ElegirGustos", "Pedido", new {id = item.IdPedido, usuarioId = Sesion.IdUsuario})" class="action_item btn btn-xs btn-success" title="Elegir Gustos">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </a>
                                        if (item.IdUsuarioResponsable == Sesion.IdUsuario)
                                        {
                                            <a href="@Url.Action("Editar", "Pedido", new {id = item.IdPedido})" class="action_item btn btn-xs btn-info" title="Editar">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                            <form action="@Url.Action("Eliminar", "Pedido", new {id = item.IdPedido})" method="post" title="Borrar">
                                                <button type="button" class="action_item btn btn-xs btn-danger delete" title="Eliminar">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                    <tbody>
                </table>
            </div>
            @Html.PagedListPager(Model, pag => Url.Action("Lista", "Pedido", new {pag}))
        </div>
    }
</div>

@section custom_js_libraries
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/datatables/datatables.min.js")"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}
@section custom_js_code
 {
    <script>
        $(document).ready(function() {
            $('button.delete').on('click',function(e){
                e.preventDefault();
                var form = $(this).parents('form');
                swal({
                    title: "Esta seguro?",
                    text: "No se podrá recuperar el pedido elminiado",
                    icon: "warning",
                    buttons:  ["Cancelar", "Aceptar"],
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        $.post( form.attr('action'))
                        .done(function(data) {
                            toastr.success("El pedido fue borrado exitosamente.");
                        })
                        .fail(function(error) {
                            console.log(error);
                            toastr.error("Se produjo un error.");
                        });
                        //form.submit();
                    }
                });
            });

            $(".table").DataTable({
                responsive: true,
                autoWidth: false, 
                "paging":   false,
                "ordering": false,
                "info":     false,
                "searching": false,
                "columnDefs": [ {
                        "targets": -1,
                        "orderable": false,
                        "width":"50px"
                    },
                ],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros",
                    "search": "Buscar",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrando _START_ de _END_ sobre un total de _TOTAL_ elementos",
                    "infoFiltered":   "(filtrados de un total de _MAX_ total registros)",
                    "processing": "<i class='fa fa-refresh fa-spin'></i>",
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Ultima",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    },
                },
            });
        });
    </script>
 }
